.row{
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    padding:20px;
    width: 800px;

  
    
}
.col{
    background-color: #659DA1;
    flex:1;
    margin-left: 10px ;
    padding:10px;
    text-align: center;
    
}
.col-2{
    flex:2;
    padding:10px;
    margin-left: 10px;
    text-align: center;
    background-color: #659DA1;

}
.col-3{
    flex:3;
    padding:20px;
    text-align:end;
    margin-left: 15px;
    background-color: #659DA1;
    padding-top:20px;
}